<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Formulario - Test guardar producto</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="Author" content="I.S.C. C. Eleazar Morales C.">
		<meta name="Date" content="Noviembre 26, 2021">
	</head>
	<body>
		<br>
		<br>
		<center>
			<h2>Formulario test </h2>
			<hr>
			<form method="post" action="../../Controller/Facade/Facade.php">
				<label>Nombre: </label><br>
				<input type="text" name="nombre"><br>
				<br>
				<label>Categoria: </label><br>
				<input type="text" name="categoria"><br>
				<br>
				<label>No. serie: </label><br>
				<input type="number" name="no_serie"><br>
				<br>
				<label>Cantidad: </label><br>
				<input type="number" name="cantidad"><br>
				<br>
				<label>Fecha: </label><br>
				<input type="date" name="fecha"><br>
				<br>
				<label>Medida: </label><br>
				<input type="text" name="medida"><br>
				<br>
				<label>Marca: </label><br>
				<input type="text" name="marca"><br>
				<br>
				<label>Modelo: </label><br>
				<input type="text" name="modelo"><br>
				<br>
				<label>Origen: </label><br>
				<input type="text" name="origen"><br>
				<br>
				<label>Ubicacion: </label><br>
				<input type="text" name="ubicacion"><br>
				<br>
				<label>Estado del producto: </label><br>
				<input type="text" name="estado_producto"><br>
				<br>
				<label>Color: </label><br>
				<input type="text" name="color"><br>
				<br>


				<br>
                <input type="submit" value="Enviar datos " name="enviar" />

			</form>
		</center>
	</body>
</html>


<!--

/*
nombre
categoria
no_serie
cantidad
fecha
medida
marca
modelo
origen
ubicacion
estado_producto
color
*/

-->